@charset "utf-8";



@font-face{font-family: 'cabi';
                src: url(../font/CabinetGrotesk_Complete/Fonts/OTF/CabinetGrotesk-Bold.otf);}

@font-face{font-family: 'zodiak eb';
        src: url(../font/Zodiak_Complete/Fonts/OTF/Zodiak-Extrabold.otf);}

@font-face{font-family: 'zodiak r';
                src: url(../font/Zodiak_Complete/Fonts/OTF/Zodiak-Regular.otf);}

@font-face{font-family: 'zodiak t';
        src: url(../font/Zodiak_Complete/Fonts/OTF/Zodiak-Thin.otf)}
        
@font-face{font-family: 'pretendard';
                src: url(../font/Pretendard-1.3.6/public/static/Pretendard-Regular.otf);}


        
body {font-family:'zodiak eb';}
