@charset "utf-8";

*,*:after,*:before{box-sizing: border-box;}


.followAnimation{
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    font-size: 1.5rem;
    display: block;
    color: rgb(245, 8, 213);
    z-index: 10;
}


body {font-family: 'pretendard';}


